.form {
  .search {
    display: flex;
    align-items: flex-end;

    &__input {
      box-shadow: var(--shadow-dark);
      input {
        border: none;
        padding: 0 1.5rem;
        height: 5rem;
        width: 55rem;
        outline: none;
        font-size: 1.6rem;
        font-weight: 500;
        background-color: rgba(255, 255, 255, 1);
      }
    }

    &__btn {
      img {
        width: 5rem;
      }
    }
  }
}
